---
import Layout from "../layouts/Layout.astro";

import Card from "../components/Card.astro";
import Title from "../components/home/Title.astro";
import About from "../components/home/About.astro";
import Projects from "../components/home/Projects.astro";
import CodeTime from "../components/home/CodeTime.astro";
import SiteButton from "../components/home/SiteButton.astro";
import Rise from "../components/home/Rise/Rise.astro";
import Links from "../components/home/Links.astro";
import Groups from "../components/home/Groups.astro";
import ViewCount from "../components/home/ViewCount.astro";
import NavLink from "../components/home/NavLink.astro";
import JohnAd from "../components/home/JohnAd.astro";
import Buttons from "../components/home/Buttons/Buttons.astro";
import HotlineWebring from "../components/home/HotlineWebring.astro";
import Music from "../components/home/Music.astro";
import DONOTPRESS from "../components/home/DONOTPRESS.astro";

import { Image } from "astro:assets";

import nekoarc3d from "./neko-arc-3d.png";
import nekoarclookback from "./neko-arc-lookback.gif";
---

<Layout title="kayh.dev" description="My website">
  <div class="fixed -z-20 inset-0 bg-gradient-to-tr from-cyan-700 to-red-500">
  </div>

  <div
    class="fixed -z-10 w-full h-full opacity-5 bg-repeat"
    style="background-image: url('/icon-192.png')"
  >
  </div>

  <div class="fixed hidden sm:block bottom-4 right-4">
    <DONOTPRESS />
  </div>

  <main class="overflow-hidden space-y-3 p-1 sm:py-4">
    <div class="max-w-xl mx-auto">
      <Card>
        <Title />
      </Card>
    </div>

    <div
      class="max-w-5xl mx-auto grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 gap-3"
    >
      <Card columns={2}>
        <About />
      </Card>

      <Card rows={2}>
        <div class="absolute -top-24 -right-4 sm:-right-16 z-40 animate-float">
          <Image
            id="neko-3d"
            src={nekoarc3d}
            alt="Neko Arc 3D"
            width={120}
            height={213}
            class="hover:cursor-pointer"
          />

          <script>
            const neko = document.getElementById("neko-3d");
            if (!neko) {
              throw new Error("neko-3d not found");
            }

            neko.addEventListener("click", () => {
              // Spin!
              neko.animate(
                [
                  { transform: "rotate(0deg)" },
                  { transform: "rotate(360deg)" },
                ],
                {
                  duration: 1000,
                  iterations: 1,
                },
              );

              // Play sound
              const audio = new Audio("/neko-arc-sound-effect.mp3");
              audio.play();
            });
          </script>
        </div>

        <Links />
      </Card>

      <Card>
        <Projects />
      </Card>

      <Card center>
        <ViewCount />
      </Card>

      <Card center columns={2}>
        <JohnAd />
      </Card>

      <Card center>
        <HotlineWebring />
      </Card>

      <Card>
        <CodeTime />

        <div
          class="absolute sm:-top-32 -left-4 -top-64 sm:-left-20 z-40 animate-float-2"
        >
          <Image
            id="neko-lookback"
            src={nekoarclookback}
            alt="Neko Arc"
            width={160}
            height={160}
            class="hover:cursor-pointer"
          />

          <script>
            const neko = document.getElementById("neko-lookback");
            if (!neko) {
              throw new Error("neko-lookback not found");
            }

            neko.addEventListener("click", () => {
              // Spin!
              neko.animate(
                [
                  { transform: "rotate(0deg)" },
                  { transform: "rotate(360deg)" },
                ],
                {
                  duration: 1000,
                  iterations: 1,
                },
              );

              // Play sound
              const audio = new Audio("/neko-arc-sound-effect.mp3");
              audio.play();
            });
          </script>
        </div>
      </Card>

      <Card center rows={2}>
        <Rise />
      </Card>

      <Card>
        <Groups />
      </Card>

      <Card>
        <SiteButton />
      </Card>

      <Card center>
        <Buttons />
      </Card>

      <Card center>
        <NavLink />
      </Card>

      <Card center columns={2}>
        <Music />
      </Card>
    </div>
  </main>
</Layout>
