---
import Layout from "../layouts/Layout.astro";
---

<Layout title="kayh.dev" description="My website">
  <div class="w-full h-full relative">
    <div
      class="absolute w-full h-full -z-20 opacity-10 bg-repeat"
      style="background-image: url('/icon-192.png')"
    >
    </div>

    <div class="w-full h-full min-h-screen p-1 sm:p-0 sm:m-0 sm:py-8">
      <main
        class="mx-auto h-full bg-white/10 max-w-3xl border rounded py-4 space-y-4"
      >
        <h1 class="text-center font-medium text-5xl">Kayh</h1>

        <div
          class="sm:w-1/2 sm:rounded mx-auto overflow-hidden whitespace-nowrap"
        >
          <div class="animate-marquee">
            Virtual Architect | Web Developer | VR Enthusiast | ??? Engineer |
            3D Artist | Human | Cypherpunk | Disciple of The Sun ☼ | Builder |
            Part time NEET | I use NixOS btw | Cyberspace Native | Lover of
            People ♥ | Accelerationist | Playing the Infinite Game
          </div>
        </div>

        <div
          class="flex flex-col sm:flex-row space-y-8 sm:space-y-0 sm:space-x-8 px-8"
        >
          <div class="w-full space-y-8">
            <section>
              <h2>Projects</h2>
              <hr class="border-neutral-500 pb-2" />
              <ul>
                <li>
                  <a
                    href="https://unavi.xyz"
                    target="_blank"
                    class="hover:underline">UNAVI</a
                  >
                </li>
                <li>
                  <a
                    href="https://github.com/unavi-xyz/lattice"
                    target="_blank"
                    class="hover:underline">Lattice Engine</a
                  >
                </li>
                <li>
                  <a
                    href="https://github.com/unavi-xyz/wired-protocol"
                    target="_blank"
                    class="hover:underline">The Wired</a
                  >
                </li>
              </ul>
            </section>

            <div class="grid grid-cols-2">
              <section>
                <h2>Code Time</h2>
                <hr class="border-neutral-500 pb-2" />
                <a
                  href="https://wakatime.com/@cb710a2e-6926-4408-ada5-d04bdfa541f7"
                  ><img
                    src="https://wakatime.com/badge/user/cb710a2e-6926-4408-ada5-d04bdfa541f7.svg"
                    alt="Total time coded since Apr 17 2022"
                  /></a
                >
              </section>

              <a
                href="https://www.youtube.com/watch?v=ih1JkNZF5WA"
                target="_blank"
              >
                <img src="/rise.gif" />
              </a>
            </div>
          </div>

          <div class="sm:w-[180px] flex flex-col-reverse sm:flex-col">
            <section class="pt-2 pb-2 sm:pt-0">
              <h2>Links</h2>
              <hr class="border-neutral-500 pb-2" />
              <ul>
                <li>
                  <a
                    href="https://github.com/kayhhh"
                    target="_blank"
                    class="hover:underline">GitHub</a
                  >
                </li>
                <li>
                  <a
                    href="https://twitter.com/kayh_online"
                    target="_blank"
                    class="hover:underline">Twitter</a
                  >
                </li>
                <li>
                  <a
                    href="https://discord.gg/cazUfCCgHJ"
                    target="_blank"
                    class="hover:underline">Discord</a
                  >
                </li>
                <li>
                  <a
                    href="https://myanimelist.net/profile/kayh_online"
                    target="_blank"
                    class="hover:underline">MyAnimeList</a
                  >
                </li>
              </ul>
            </section>

            <section class="py-2">
              <h2>Groups</h2>
              <hr class="border-neutral-500 pb-2" />
              <ul>
                <li>
                  <a
                    href="https://m3org.com/"
                    target="_blank"
                    class="hover:underline">M3</a
                  >
                </li>
              </ul>
            </section>

            <div class="py-6">
              <iframe
                width="180"
                height="180"
                src="https://dimden.neocities.org/navlink/"
                name="neolink"
                class="border-0 mx-auto"></iframe>
            </div>

            <section class="py-2 space-y-1">
              <hr class="border-neutral-500" />
              <div class="flex justify-between">
                <a
                  href="https://hotlinewebring.club/kayh/previous"
                  class="hover:underline">{"<--"}</a
                >
                <h2>Hotline Webring</h2>
                <a
                  href="https://hotlinewebring.club/kayh/next"
                  class="hover:underline">{"-->"}</a
                >
              </div>
              <hr class="border-neutral-500" />
            </section>
          </div>
        </div>

        <div class="space-y-2 pt-8">
          <ul class="px-8 flex space-x-2 w-full justify-center">
            <li>
              <img src="/ilikecomputer.png" />
            </li>

            <li>
              <img src="/lain-1.gif" />
            </li>

            <li>
              <img src="/miku.gif" />
            </li>

            <li>
              <img src="/jquery.gif" />
            </li>

            <li>
              <img src="/buyit.gif" />
            </li>
          </ul>

          <ul class="px-8 flex space-x-2 w-full justify-center">
            <li>
              <a href="https://archive.org/" target="_blank"
                ><img src="/internetarchive.gif" /></a
              >
            </li>

            <li>
              <a href="https://melps.neocities.org" target="_blank"
                ><img
                  src="https://melps.neocities.org/limk1.jpg"
                  width="88px"
                /></a
              >
            </li>

            <li>
              <a href="https://dimden.dev/" target="_blank"
                ><img src="https://dimden.dev/services/images/88x31.gif" /></a
              >
            </li>

            <li>
              <a href="https://melankorin.net/" target="_blank"
                ><img
                  src="https://melankorin.net/assets/img/buttons/button-1.gif"
                /></a
              >
            </li>
          </ul>
        </div>

        <img src="/cat.png" class="mx-auto py-8" />
      </main>
    </div>
  </div>
</Layout>
