---
import Layout from "../layouts/Layout.astro";
---

<Layout title="kayh.dev" description="My website">
  <div class="w-full h-full relative">
    <div
      class="absolute w-full h-full -z-20 opacity-10 bg-repeat"
      style="background-image: url('/icon-192.png')"
    >
    </div>

    <div class="w-full h-full min-h-screen p-1 sm:p-0 sm:m-0 sm:py-8">
      <main
        class="relative mx-auto h-full bg-white/10 overflow-hidden max-w-3xl border rounded py-4 space-y-4"
      >
        <h1 class="text-center font-medium text-5xl">Kayh</h1>

        <div
          class="sm:max-w-sm sm:rounded mx-auto overflow-hidden whitespace-nowrap"
        >
          <div id="marquee" class="animate-marquee">
            Virtual Architect | Web Developer | VR Enthusiast | ??? Engineer |
            3D Artist | Proudly Human | Cypherpunk | Disciple of The Sun ☼ |
            Autonomous Agent | Memetic Alchemist | Transhumanist | Part-time
            NEET | Enlightened by Nix | Cyberspace Native | Magician | Wielder
            of the Power of Friendship | Open Source Advocate | Explorer | Lover
            of People ♥ | Accelerationist | Playing the Infinite Game
          </div>

          <script>
            // Pause animation on hover
            const marquee = document.getElementById("marquee");
            marquee.addEventListener("mouseenter", () => {
              marquee.style.animationPlayState = "paused";
            });
            marquee.addEventListener("mouseleave", () => {
              marquee.style.animationPlayState = "running";
            });
          </script>
        </div>

        <div
          class="flex flex-col sm:flex-row space-y-8 sm:space-y-0 sm:space-x-8 px-8"
        >
          <div class="w-full space-y-8">
            <section>
              <h2>About Me</h2>
              <hr class="border-neutral-500 pb-2" />
              <p>
                Hi, I'm Kayh! Welcome to my site! I like VR and making 3D things
                and anime and music and coding (I use Neovim btw) and monster
                energy and Persona and Undertale and Lain and Hunter X Hunter
                and YOU ♥. I spend a lot of time in VRChat, so if you see me
                around come say hi!
                <br />
                <br />
                 Also I'm building an open source 3D platform called
                <a
                  href="https://unavi.xyz"
                  target="_blank"
                  class="text-cyan-400 hover:underline">UNAVI</a
                >, check it out!
              </p>
            </section>

            <div class="grid grid-cols-2">
              <div class="space-y-8">
                <section>
                  <h2>Projects</h2>
                  <hr class="border-neutral-500 pb-2" />
                  <ul>
                    <li>
                      <a
                        href="https://unavi.xyz"
                        target="_blank"
                        class="hover:underline">UNAVI</a
                      >
                    </li>
                    <li>
                      <a
                        href="https://github.com/unavi-xyz/lattice"
                        target="_blank"
                        class="hover:underline">Lattice Engine</a
                      >
                    </li>
                    <li>
                      <a
                        href="https://github.com/unavi-xyz/wired-protocol"
                        target="_blank"
                        class="hover:underline">The Wired</a
                      >
                    </li>
                  </ul>
                </section>

                <section>
                  <h2>Code Time</h2>
                  <hr class="border-neutral-500 pb-2" />
                  <a
                    href="https://wakatime.com/@cb710a2e-6926-4408-ada5-d04bdfa541f7"
                    class="pt-1"
                    ><img
                      src="https://wakatime.com/badge/user/cb710a2e-6926-4408-ada5-d04bdfa541f7.svg"
                      alt="Total time coded since Apr 17 2022"
                    /></a
                  >
                </section>

                <section>
                  <h2>Button</h2>
                  <hr class="border-neutral-500 pb-2" />

                  <div
                    class="border p-2 space-y-1.5 flex flex-col items-center rounded"
                  >
                    <a href="https://kayh.dev"><img src="/btn.gif" /></a>

                    <textarea
                      id="btn-code"
                      disabled
                      title="Copy this to your site!"
                      class="w-full rounded bg-black text-sm p-1"
                      >{
                        '<a href="https://kayh.dev" target="_blank"><img src="https://kayh.dev/btn.gif" /></a>'
                      }</textarea
                    >
                  </div>
                </section>
              </div>

              <div id="rise-plc" class="mx-auto w-[190px] h-[380px]"></div>

              <img
                id="rise"
                src="/rise.gif"
                class="absolute left-full cursor-pointer"
              />

              <script>
                const rise_normal = "/rise.gif";
                const rise_attack = "/rise_attack.gif";
                const rise_clumsy = "/rise_clumsy.gif";
                const rise_crouch = "/rise_crouch.gif";
                const rise_owo = "/rise_owo.gif";

                const img = document.getElementById("rise");
                const plc = document.getElementById("rise-plc");

                let timeout = null;

                // Move rise to same position as plc, plus optional offset
                const moveRise = (x = 0, y = 0) => {
                  img.style.left = `${plc.offsetLeft + x}px`;
                  img.style.top = `${plc.offsetTop + y}px`;
                };

                // Initialize rise position after load, because
                // layout shift can mess it up
                window.addEventListener("load", () => {
                  moveRise();
                });

                window.addEventListener("resize", () => moveRise());

                const animateGif = (path: string, x = 0, y = 0, len = 800) => {
                  if (timeout) {
                    clearTimeout(timeout);
                  }

                  // Add opacity transitions because of weird flickering
                  // that sometimes happens when changing gifs
                  img.style.opacity = "0";

                  img.src = path;
                  moveRise(x, y);

                  timeout = setTimeout(() => {
                    img.style.opacity = "1";

                    timeout = setTimeout(() => {
                      img.style.opacity = "0";
                      img.src = rise_normal;
                      moveRise();

                      timeout = setTimeout(() => {
                        img.style.opacity = "1";
                      }, 50);
                    }, len);
                  }, 50);
                };

                const animate = () => {
                  const rand = Math.random();

                  if (rand < 0.3) {
                    animateGif(rise_attack, -200, -80, 900);
                  } else if (rand < 0.8) {
                    animateGif(rise_clumsy, -90, -7);
                  } else if (rand < 0.95) {
                    animateGif(rise_crouch, 0, 100);
                  } else {
                    animateGif(rise_owo, -40, -100, 2000);
                  }
                };

                img.addEventListener("click", animate);
              </script>
            </div>
          </div>

          <div class="sm:w-[180px] flex flex-col-reverse sm:flex-col">
            <section class="pt-2 pb-2 sm:pt-0">
              <h2>Links</h2>
              <hr class="border-neutral-500 pb-2" />
              <ul>
                <li>
                  <a
                    href="https://github.com/kayhhh"
                    target="_blank"
                    class="hover:underline">GitHub</a
                  >
                </li>
                <li>
                  <a
                    href="https://twitter.com/kayh_online"
                    target="_blank"
                    class="hover:underline">Twitter</a
                  >
                </li>
                <li>
                  <a
                    href="https://discord.gg/cazUfCCgHJ"
                    target="_blank"
                    class="hover:underline">Discord</a
                  >
                </li>
                <li>
                  <a
                    href="https://myanimelist.net/profile/kayh_online"
                    target="_blank"
                    class="hover:underline">MyAnimeList</a
                  >
                </li>
              </ul>
            </section>

            <section class="py-2">
              <h2>Groups</h2>
              <hr class="border-neutral-500 pb-2" />
              <ul>
                <li>
                  <a
                    href="https://m3org.com/"
                    target="_blank"
                    class="hover:underline">M3</a
                  >
                </li>
              </ul>
            </section>

            <div class="py-6">
              <iframe
                width="180"
                height="180"
                src="https://dimden.neocities.org/navlink/"
                name="neolink"
                class="border-0 mx-auto"></iframe>
            </div>

            <section class="py-2 space-y-1">
              <hr class="border-neutral-500" />
              <div class="flex justify-between">
                <a
                  href="https://hotlinewebring.club/kayh/previous"
                  class="hover:underline">{"<--"}</a
                >
                <h2>Hotline Webring</h2>
                <a
                  href="https://hotlinewebring.club/kayh/next"
                  class="hover:underline">{"-->"}</a
                >
              </div>
              <hr class="border-neutral-500" />
            </section>
          </div>
        </div>

        <div class="space-y-2 pt-8">
          <ul class="px-8 flex space-x-2 w-full justify-center">
            <li>
              <img src="/ilikecomputer.png" />
            </li>

            <li>
              <img src="/lain-1.gif" />
            </li>

            <li>
              <img src="/miku.gif" />
            </li>

            <li>
              <img src="/jquery.gif" />
            </li>

            <li>
              <img src="/buyit.gif" />
            </li>
          </ul>

          <ul class="px-8 flex space-x-2 w-full justify-center">
            <li>
              <a href="https://archive.org/" target="_blank"
                ><img src="/internetarchive.gif" /></a
              >
            </li>

            <li>
              <a href="https://melps.neocities.org" target="_blank"
                ><img
                  src="https://melps.neocities.org/limk1.jpg"
                  width="88px"
                /></a
              >
            </li>

            <li>
              <a href="https://dimden.dev/" target="_blank"
                ><img src="https://dimden.dev/services/images/88x31.gif" /></a
              >
            </li>

            <li>
              <a href="https://melankorin.net/" target="_blank"
                ><img
                  src="https://melankorin.net/assets/img/buttons/button-1.gif"
                /></a
              >
            </li>
          </ul>
        </div>

        <img src="/cat.png" class="mx-auto py-8" />
      </main>
    </div>
  </div>
</Layout>
