---
import Layout from "../layouts/Layout.astro";
---

<Layout title="kayh.dev">
  <main class="mx-auto max-w-3xl bg-neutral-800 py-4 space-y-4">
    <h1 class="text-center font-bold text-5xl">Kayh</h1>

    <div
      class="sm:w-1/2 bg-neutral-900 sm:rounded mx-auto overflow-hidden whitespace-nowrap"
    >
      <div class="animate-marquee">
        Virtual Architect | Web Developer | VR Enthusiast | ??? Engineer | 3D
        Artist | Human | Cypherpunk | Disciple of The Sun ☼ | Creator | Part
        time NEET | Cyberspace Native | Lover of People ♥ | Accelerationist |
        Playing the Infinite Game
      </div>
    </div>

    <div class="grid sm:grid-cols-3 gap-8 px-8">
      <secion>
        <h2>Links</h2>
        <hr class="border-neutral-500 pb-2" />
        <ul>
          <li>
            <a href="https://github.com/kayhhh" class="hover:underline">GitHub</a>
          </li>
          <li>
            <a href="https://twitter.com/kayh_online" class="hover:underline">Twitter</a>
          </li>
          <li>
            <a href="https://discord.gg/cazUfCCgHJ" class="hover:underline">Discord</a>
          </li>
          <li>
            <a href="https://myanimelist.net/profile/kayh_online" class="hover:underline">MyAnimeList</a>
          </li>
          </ul>
      </secion>

      <secion>
        <h2>Projects</h2>
        <hr class="border-neutral-500 pb-2" />
        <ul>
          <li>
            <a href="https://unavi.xyz" class="hover:underline">UNAVI</a>
          </li>
          <li>
            <a
              href="https://github.com/unavi-xyz/lattice"
              class="hover:underline">Lattice Engine</a
            >
          </li>
          <li>
            <a
              href="https://github.com/unavi-xyz/wired-protocol"
              class="hover:underline">The Wired</a
            >
          </li>
        </ul>
      </secion>

      <secion>
        <h2>Groups</h2>
        <hr class="border-neutral-500 pb-2" />
        <ul>
          <li>
            <a href="https://m3org.com/" class="hover:underline">M3</a>
          </li>
        </ul>
      </secion>
    </div>
  </main>
</Layout>
