---
import Layout from "../layouts/Layout.astro";
import Card from "../components/Card.astro";
import Title from "../components/home/Title.astro";
import About from "../components/home/About.astro";
import Projects from "../components/home/Projects.astro";
import CodeTime from "../components/home/CodeTime.astro";
import SiteButton from "../components/home/SiteButton.astro";
import Rise from "../components/home/Rise.astro";
import Links from "../components/home/Links.astro";
import Groups from "../components/home/Groups.astro";
import ViewCount from "../components/home/ViewCount.astro";
import NavLink from "../components/home/NavLink.astro";
import JohnAd from "../components/home/JohnAd.astro";
import Buttons from "../components/home/Buttons.astro";
import HotlineWebring from "../components/home/HotlineWebring.astro";
---

<Layout title="kayh.dev" description="My website">
  <div class="fixed -z-20 inset-0 bg-gradient-to-tr from-cyan-700 to-red-500">
  </div>

  <div
    class="fixed -z-10 w-full h-full opacity-5 bg-repeat"
    style="background-image: url('/icon-192.png')"
  >
  </div>

  <div class="space-y-3 p-1 sm:py-4">
    <div class="max-w-xl mx-auto">
      <Card>
        <Title />
      </Card>
    </div>

    <div
      class="max-w-5xl mx-auto grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 gap-3"
    >
      <Card columns={2}>
        <About />
      </Card>

      <Card rows={2}>
        <Links />
      </Card>

      <Card>
        <Projects />
      </Card>

      <Card center>
        <ViewCount />
      </Card>

      <Card center columns={2}>
        <JohnAd />
      </Card>

      <Card center>
        <HotlineWebring />
      </Card>

      <Card>
        <CodeTime />
      </Card>

      <Card rows={2}>
        <Rise />
      </Card>

      <Card>
        <Groups />
      </Card>

      <Card>
        <SiteButton />
      </Card>

      <Card center>
        <Buttons />
      </Card>

      <Card center>
        <NavLink />
      </Card>
    </div>
  </div>
</Layout>
