---
import Layout from "../layouts/Layout.astro";
---

<Layout title="kayh.dev" description="My website">
  <div
    class="absolute w-full h-full -z-10 opacity-10 bg-repeat"
    style="background-image: url('/icon-192.png')"
  >
  </div>

  <div class="w-full h-screen sm:py-8">
  <main class="mx-auto h-full bg-white/10 max-w-3xl border rounded py-4 space-y-4">
    <h1 class="text-center font-medium text-5xl">Kayh</h1>

    <div
      class="sm:w-1/2 sm:rounded mx-auto overflow-hidden whitespace-nowrap"
    >
      <div class="animate-marquee">
        Virtual Architect | Web Developer | VR Enthusiast | ??? Engineer | 3D
        Artist | Human | Cypherpunk | Disciple of The Sun ☼ | Builder | Part
        time NEET | I use NixOS btw | Cyberspace Native | Lover of People ♥ |
        Accelerationist | Playing the Infinite Game
      </div>
    </div>

    <div class="flex flex-col sm:flex-row space-y-8 sm:space-y-0 sm:space-x-8 px-8">
      <div class="w-full">
        <section>
          <h2>Projects</h2>
          <hr class="border-neutral-500 pb-2" />
          <ul>
            <li>
              <a
                href="https://unavi.xyz"
                target="_blank"
                class="hover:underline">UNAVI</a
              >
            </li>
            <li>
              <a
                href="https://github.com/unavi-xyz/lattice"
                target="_blank"
                class="hover:underline">Lattice Engine</a
              >
            </li>
            <li>
              <a
                href="https://github.com/unavi-xyz/wired-protocol"
                target="_blank"
                class="hover:underline">The Wired</a
              >
            </li>
          </ul>
        </section>
      </div>

      <div class="sm:w-[180px] space-y-4">
        <section>
          <h2>Links</h2>
          <hr class="border-neutral-500 pb-2" />
          <ul>
            <li>
              <a
                href="https://github.com/kayhhh"
                target="_blank"
                class="hover:underline">GitHub</a
              >
            </li>
            <li>
              <a
                href="https://twitter.com/kayh_online"
                target="_blank"
                class="hover:underline">Twitter</a
              >
            </li>
            <li>
              <a
                href="https://discord.gg/cazUfCCgHJ"
                target="_blank"
                class="hover:underline">Discord</a
              >
            </li>
            <li>
              <a
                href="https://myanimelist.net/profile/kayh_online"
                target="_blank"
                class="hover:underline">MyAnimeList</a
              >
            </li>
          </ul>
        </section>

        <section>
          <h2>Groups</h2>
          <hr class="border-neutral-500 pb-2" />
          <ul>
            <li>
              <a
                href="https://m3org.com/"
                target="_blank"
                class="hover:underline">M3</a
              >
            </li>
          </ul>
        </section>

        <iframe
          width="180"
          height="180"
          src="https://dimden.neocities.org/navlink/"
          name="neolink"
          class="border-0 mx-auto"
          ></iframe>
      </div>
    </div>
  </main>
    </div>
</Layout>
