<section>
  <h2 class="text-cyan-400">About Me</h2>

  <hr class="border-slate-500 pb-2" />

  <p>
    Hi, I'm Kayh! Welcome to my site! I'm a self-taught developer building
    things I think are cool. I also play a lot of VRChat, so if you see me
    around come say hi!
  </p>
</section>
