<div class="space-y-2 py-8">
  <ul class="px-8 flex space-x-2 w-full justify-center">
    <li>
      <img src="/ilikecomputer.png" />
    </li>

    <li>
      <img src="/lain-1.gif" />
    </li>

    <li>
      <img src="/miku.gif" />
    </li>

    <li>
      <img src="/jquery.gif" />
    </li>

    <li>
      <img src="/buyit.gif" />
    </li>
  </ul>

  <ul class="px-8 flex space-x-2 w-full justify-center">
    <li>
      <a href="https://archive.org/" target="_blank"
        ><img src="/internetarchive.gif" /></a
      >
    </li>

    <li>
      <a href="https://www.tanguy.cyou/"
        ><img src="https://www.tanguy.cyou/assets/img/links/button.webp" /></a
      >
    </li>

    <li>
      <a href="https://www.melody.my.id/" target="_blank"
        ><img src="https://melodies.neocities.org/image/button/melody.png" /></a
      >
    </li>

    <li>
      <a href="https://dimden.dev/" target="_blank"
        ><img src="https://dimden.dev/services/images/88x31.gif" /></a
      >
    </li>

    <li>
      <a href="https://melankorin.net/" target="_blank"
        ><img src="https://melankorin.net/assets/img/buttons/button-1.gif" /></a
      >
    </li>
  </ul>
</div>
