<section>
  <h2 class="text-purple-400">Code Time</h2>
  <hr class="border-slate-500 pb-2" />
  <a
    href="https://wakatime.com/@cb710a2e-6926-4408-ada5-d04bdfa541f7"
    class="pt-1"
    ><img
      src="https://wakatime.com/badge/user/cb710a2e-6926-4408-ada5-d04bdfa541f7.svg"
      alt="Total time coded since Apr 17 2022"
    /></a
  >
</section>
