<section class="py-2">
  <h2 class="text-blue-400">Groups</h2>
  <hr class="border-slate-500 pb-2" />
  <ul>
    <li>
      <a href="https://m3org.com/" target="_blank" class="hover:underline">M3</a
      >
    </li>
  </ul>
</section>
