<section class="py-2 space-y-1">
  <hr class="border-slate-500" />
  <div class="flex justify-between">
    <a href="https://hotlinewebring.club/kayh/previous" class="hover:underline"
      >{"<-"}</a
    >
    <h2 class="text-amber-300">Hotline Webring</h2>
    <a href="https://hotlinewebring.club/kayh/next" class="hover:underline"
      >{"->"}</a
    >
  </div>
  <hr class="border-slate-500" />
</section>
