<section class="pt-2 pb-2 sm:pt-0">
  <h2 class="text-green-400">Links</h2>
  <hr class="border-slate-500 pb-2" />
  <ul>
    <li>
      <a
        href="https://github.com/kayhhh"
        target="_blank"
        class="hover:underline">GitHub</a
      >
    </li>
    <li>
      <a
        href="https://twitter.com/kayh_online"
        target="_blank"
        class="hover:underline">Twitter</a
      >
    </li>
    <li>
      <a
        href="https://mirror.xyz/kayh-online.eth"
        target="_blank"
        class="hover:underline">Mirror<span class="pl-6">{"<-- blog"}</span></a
      >
    </li>
    <!-- <li> -->
    <!--   <a -->
    <!--     href="https://vrchat.com/home/user/usr_26b4f71e-a89f-47b5-9579-4700283c3cf5" -->
    <!--     target="_blank" -->
    <!--     class="hover:underline">VRChat</a -->
    <!--   > -->
    <!-- </li> -->
    <li>
      <a
        href="https://myanimelist.net/profile/kayh_online"
        target="_blank"
        class="hover:underline">MyAnimeList</a
      >
    </li>
  </ul>
</section>
