<section>
  <h2 class="text-red-400">Projects</h2>
  <hr class="border-slate-500 pb-2" />
  <ul>
    <li>
      <a
        href="https://github.com/unavi-xyz/unavi"
        target="_blank"
        class="hover:underline">UNAVI</a
      >
    </li>
    <li>
      <a
        href="https://github.com/unavi-xyz/wired-protocol"
        target="_blank"
        class="hover:underline">The Wired</a
      >
    </li>
  </ul>
</section>
