---
import { Image } from "astro:assets";
---

<section>
  <h2 class="text-pink-400">Button</h2>
  <hr class="border-slate-500 pb-2" />

  <div class="border p-2 space-y-1.5 flex flex-col items-center rounded">
    <Image src="/btn.gif" alt="kayh.dev" width={88} height={31} />

    <textarea
      id="btn-code"
      disabled
      title="Copy this to your site!"
      class="w-full rounded bg-black text-base p-1"
    >
      {
        '<a href="https://kayh.dev" target="_blank"><img src="https://kayh.dev/btn.gif" alt="kayh.dev" width="88px" height="31px" /></a>'
      }
    </textarea>
  </div>
</section>
